.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 16px;

  .title {
    font-size: 14px;
    font-weight: 600px;
    line-height: 20px;
  }

  .amount {
    font-size: 16px;
    font-weight: 600px;
    line-height: 30px;
  }
}
