.report {
  background-color: #fff;
  border: 1px solid var(--gray-200);
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  margin-top: 20px;
  padding: 0px 8px 8px 8px;
  width: 100%;
}

.reportHeader {
  display: flex;
  background-color: #fff;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 8px;

  .countHeading {
    font-weight: 700;
    text-align: center;
  }
}

.headerItem {
  flex: 1;
  font-size: 14px;
  font-weight: 700;
  text-align: right;

  @media only screen and (min-width: 600px) {
    font-size: 16px;
  }
}

.headerItemTopCategories {
  text-align: left;
  flex: 2;
}

.reportBody {
  display: flex;
  flex-direction: column;
}

.reportRow {
  display: flex;
  border-radius: 8px;
  padding: 8px;
}

.reportRow:nth-child(even) {
  background-color: #fff;
  border-radius: unset;
}

.reportRow:nth-child(even):last-child {
  padding-bottom: 0px;
}

.reportRow:nth-child(odd) {
  background-color: var(--gray-50);
}

.reportRow:last-child {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.reportRow:last-child {
  border-bottom: none;
}

.reportItem {
  align-self: center;
  flex: 1;
  font-size: var(--dynamic-font-size, var(--default-font-size));
  font-weight: 500;
  text-align: center;
  color: var(--gray-600);

  &:last-of-type {
    text-align: right;
  }
}

.reportItemName {
  flex: 2;
  text-align: left;

  .noDataText {
    font-size: 14px;
    text-align: left;
  }
}

.netSalesReport {
  margin-top: 0px;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.grossSalesReport {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.netSalesReport,
.grossSalesReport {
  .headerItem {
    font-size: 16px;

    @media only screen and (min-width: 600px) {
      font-size: 18px;
    }
  }
}
