.report {
  background-color: #fff;
  border: 1px solid var(--gray-200);
  border-radius: 12px;
  margin-top: 20px;
  padding: 0px 8px 16px 8px;
  width: 100%;
}

.reportHeader {
  display: flex;
  background-color: #fff;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  .countHeading {
    font-weight: 700;
    text-align: center;
  }
}

.headerItem {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}

.headerItemTopCategories {
  text-align: left;
  flex: 2;
}

.reportBody {
  display: flex;
  flex-direction: column;
}

.reportRow {
  display: flex;
  border-radius: 8px;
}

.reportRow:nth-child(even) {
  background-color: #fff;
  border-radius: unset;
}

.reportRow:nth-child(odd) {
  background-color: var(--gray-50);
}

.reportRow:last-child {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.reportRow:last-child {
  border-bottom: none;
}

.reportItem {
  align-self: center;
  flex: 1;
  padding: 10px;
  text-align: center;
  color: var(--gray-600);

  &:last-of-type {
    text-align: right;
  }
}

.reportItemName {
  flex: 2;
  text-align: left;
}

.salesDataContainer {
  display: flex;
  grid-template-columns: repeat(2, 45%);
  flex-wrap: wrap;
  gap: 16px;
}
