.card {
  padding: 20px 16px;
  border: 1px solid var(--gray-200);
  border-radius: 12px;
  height: 104px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  flex: 1 1 calc(50% - 16px);

  .cardInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .cardInfoAmount {
      display: flex;

      span {
        font-size: 24px;
        margin: 0px 5px;
      }
    }
  }

  p {
    color: var(--gray-900);
    font-size: 24px;
    font-weight: 600;
  }

  h3 {
    color: var(--gray-500);
    font-weight: 500;
  }
}
