.layoutContainer {
  // min-height: 100vh;
height: 100%;

}

.mainContent {
  display: flex;
  flex-grow: 1;

  @media (min-width: 768px) {
    width: 100%; /* Full width on larger screens */
  }
}

.contentArea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw; /* Adjust this to ensure proper width for the content area */
  min-height: calc(100vh - 190px);
  @media (min-width: 768px) {
    min-height: calc(100vh - 190px);
    width: 100%; /* Full width on larger screens */
  }
}
