$bg-black: #000;
$white: #fff;
$text-white-50: rgba(255, 255, 255, 0.5);
$border-white-10: rgba(255, 255, 255, 0.1);
$transition-duration: 0.5s;

.sidebar {
  background-color: #fff;
  width: 311px;
  transition: margin-left $transition-duration ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  @media only screen and (min-width: 300px) {
    z-index: 3;
  }

  @media only screen and (min-width: 600px) {
    z-index: 3;
  }

  @media only screen and (min-width: 961px) {
    z-index: 0;
  }

  h4 {
    color: var(--gray-600);
    font-weight: 700;
  }

  @media (min-width: 961px) {
    position: static;
  }
}

.sidebarShow {
  @media only screen and (min-width: 320px) {
    margin-right: 16px;
  }

  @media only screen and (min-width: 600px) {
    margin-left: 0px;
    margin-right: 60px;
  }

  @media only screen and (min-width: 961px) {
    margin-left: -112px;
    margin-right: 41px;
  }
}

.sidebarHide {
  margin-left: -311px;

  @media only screen and (min-width: 600px) {
    margin-left: -311px;
    margin-right: 41px;
  }

  @media only screen and (min-width: 961px) {
    margin-left: -112px;
    margin-right: 41px;
  }
}

.sidebarContainer {
  display: flex;
  flex-direction: column;

  .sidebarFooter {
    align-items: center;
    display: flex;
    height: 88px;
    border-top: 1px solid var(--gray-200);

    .businessDetails {
      h4 {
        font-weight: 600;
        color: var(--gray-700);
      }

      p {
        font-weight: 400;
        color: var(--gray-600);
      }
    }

    .businessLogo {
      box-shadow: 0px 1px 2px 0px #1018280d;
      border: 0.5px solid var(--gray-200);
      border-radius: 8px;
      display: flex;
      padding: 11px 6px;
      margin: 0px 12px 0px 16px;

      @media only screen and (min-width: 600px) {
        display: none;
      }
    }

    @media only screen and (min-width: 961px) {
      display: none;
    }
  }
}

.logoContainer {
  display: flex;
  flex-direction: column;

  .logo {
    margin: 16px 0px 0px 16px;
  }

  h4 {
    margin: 20px 0px 6px 20px;
  }
}

.reportsOptions {
  @media only screen and (min-width: 600px) {
    margin-top: 31px;
  }
}

.menuItem {
  display: flex;
  border-bottom: 1px solid $border-white-10;
  text-align: center;
  font-size: 16px;
  margin: 2px 8px;
  padding: 8px 12px;
  border-radius: 6px;
}

.innerContainer {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .menuItems {
    margin-top: 11px;
  }
}

.iconContainer {
  font-size: 1.25rem;
  display: flex;
  width: 30px;

  & > * {
    margin: auto;
  }
}

.active {
  color: var(--gray-900);
  background-color: var(--primary-purple-50);
  font-weight: 700;

  div {
    color: var(--primary-purple-700);
  }
}

.inactive {
  color: var(--gray-700);
  font-weight: 600;

  &:hover {
    color: var(--gray-500);
  }
}

.modalOverlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;

  @media (min-width: 961px) {
    display: none;
  }
}

.logoutBtn {
  display: flex;

  button {
    place-content: normal;
    margin-left: 16px;

    @media only screen and (min-width: 600px) {
      display: none;
    }
  }
}
