.pageTitle {
  margin: 16px 0px 20px 0px;

  @media only screen and (max-width: 961px) {
    display: none;
  }
}

// adding this style disables the tooltip for barChart. Come up with solution
.barChart {
  position: relative;
  z-index: -1;
}
