.report {
  background-color: #fff;
  border: 1px solid var(--gray-200);
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  margin-top: 20px;
  padding: 0px 8px 8px 8px;
  width: 100%;
}

.reportHeader {
  display: flex;
  background-color: #fff;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 8px;

  .countHeading {
    font-weight: 700;
    text-align: center;
    color: var(--gray-600);
  }
}

.headerItem {
  flex: 1;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  color: var(--gray-600);

  @media only screen and (min-width: 600px) {
    font-size: 16px;
  }
}

.headerItemTopCategories {
  color: var(--gray-800);
  flex: 2;
  font-weight: 700;
  text-align: left;
}

.headerItemCenter {
  align-self: center;
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  text-align: center;

  @media only screen and (min-width: 600px) {
    font-size: 16px;
  }

  &:last-of-type {
    text-align: right;
  }
}

.reportBody {
  display: flex;
  flex-direction: column;
}

.reportRow {
  display: flex;
  border-radius: 8px;
  padding: 8px;
}

.reportRow:nth-child(even) {
  background-color: #fff;
  border-radius: unset;
}

.reportRow:nth-child(even):last-child {
  padding-bottom: 0px;
}

.reportRow:nth-child(odd) {
  background-color: var(--gray-50);
}

.reportRow:last-child {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.reportRow:last-child {
  border-bottom: none;
}

.reportItem {
  align-self: center;
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  text-align: center;

  .chevronRightIconContainer {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
  }

  @media only screen and (min-width: 600px) {
    font-size: 18px;
  }

  &:last-of-type {
    text-align: right;
  }
}

.reportItemName {
  flex: 2;
  text-align: left;
  color: var(--gray-600);
  font-weight: 500;

  .noDataText {
    font-size: 14px;
    text-align: left;
  }
}

.netSalesReport {
  margin-top: 0px;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.grossSalesReport {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.netSalesReport,
.grossSalesReport {
  .headerItem,
  .headerItemCenter {
    font-size: 16px;

    @media only screen and (min-width: 600px) {
      font-size: 18px;
    }
  }

  .reportItem {
    font-size: 14px;
    padding-left: 16px;

    @media only screen and (min-width: 600px) {
      font-size: 16px;
    }
  }
}

.isClickable {
  cursor: pointer;

  &:hover {
    background-color: var(--gray-100);
  }
}

.dataInsightsTable {
  border: none;
  border-radius: 0;
  padding: 0px 0px 8px 0px;
  box-shadow: none;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .reportRow,
  .reportHeader {
    padding: 8px 16px;
    border-radius: 0;
  }

  .reportHeader {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px;
  }
}

.linkTable {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.salesTrendsTable {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  box-shadow: none;
  border-radius: unset;

  .reportItem.reportItemName {
    display: flex;
  }

  .reportRow,
  .reportHeader {
    padding-left: 8px;
  }

  img {
    margin-left: 8px;
  }
}
