.salesDataContainer {
  display: flex;
  gap: 16px;

  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.tablesContainer {
  @media only screen and (min-width: 599px) {
    flex-wrap: wrap;
  }
}

.timeSelector {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px #1018280d;
  display: flex;
  height: 56px;
  margin-bottom: 16px;

  button {
    align-items: center;
    background-color: var(--gray-50);
    border-radius: 90px;
    color: var(--primary-purple-700);
    cursor: pointer;
    display: flex;
    font-weight: 600;
    margin-left: 16px;
    padding: 8px 12px;

    @media only screen and (min-width: 600px) {
      margin-left: 78px;
    }

    @media only screen and (min-width: 961px) {
      margin-left: 112px;
    }
  }

  @media only screen and (min-width: 320px) {
    margin-left: -16px;
    margin-right: -16px;
  }

  @media only screen and (min-width: 600px) {
    margin-left: -78px;
    margin-right: -78px;
  }

  @media only screen and (min-width: 961px) {
    margin-left: -112px;
    margin-right: -112px;
  }

  .calendarSvg {
    margin-right: 4px;
  }
}

.timeSelectorModal,
.datePickerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 8px -4px #10182808;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
}

@mixin modalContent {
  border-radius: 16px;
  position: relative;
  transform: scale(0.7);
  transition: transform 0.3s ease;
}

@mixin modalVisibility($opacity, $visibility, $transform) {
  opacity: $opacity;
  visibility: $visibility;

  .modalContentReports,
  .modalContentDatePicker {
    transform: $transform;
  }
}

.modalContentReports {
  @include modalContent;
  background: white;
  padding: 16px;
  width: 343px;

  .modalContentHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .calendarSvg {
      align-items: center;
      background-color: var(--gray-100);
      border-radius: 28px;
      display: flex;
      height: 48px;
      justify-content: center;
      width: 48px;
    }
  }

  .heading {
    font-size: 18px;
    font-weight: 600;
  }
}

.modalContentDatePicker {
  @include modalContent;
  width: 328px;

  .dateConfirmation {
    display: flex;
    gap: 12px;
    padding: 16px;

    @mixin button($borderColor, $textColor) {
      border: 1px solid $borderColor;
      color: $textColor;
      display: inline-block;
      flex: 1;
      font-size: 14px;
      font-weight: 600;
      height: 40px;
      padding: 10px 16px;
      border-radius: 8px;
    }

    .cancel {
      @include button(var(--gray-300), var(--gray-700));
    }

    .apply {
      @include button(var(--primary-purple-600), #fff);
      background-color: var(--primary-purple-600);
    }
  }
}

.show {
  @include modalVisibility(1, visible, scale(1));
}

.hide {
  @include modalVisibility(0, hidden, scale(0.7));
}

.closeButton {
  align-items: center;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  height: 44px;
  justify-content: center;
  padding: 12px;
  width: 44px;
}

.selectDateButtons {
  margin-top: 12px;
}

.pageTitle {
  color: var(--gray-900);
  margin: 16px 0px 20px 0px;
}

.linkToSeeAllContainer {
  background-color: #fff;
  border: 1px solid var(--gray-200);
  border-top: none;
  display: flex;
  height: 52px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  justify-content: flex-end;
  padding: 12px 16px;

  .link {
    display: flex;

    h4 {
      color: var(--primary-purple-700);
      align-self: center;
    }
  }
}
