.logoutButton {
  align-items: center;
  border-bottom: 1px solid var(--gray-100);
  color: var(--primary-purple-700);
  display: flex;
  font-weight: 600;
  font-size: 14px;
  height: 64px;
  justify-content: end;
  width: 100%;
}
