.table {
    width: 100%;
    border: 1px solid var(--gray-200);
    border-radius: 12px;
    background-color: #fff;

    .header{
        display: flex;
        border-bottom: 1px solid var(--gray-200);
        padding: 15px;
        padding-inline: 30px;
        text-align: left;
        font-weight: 700;
        width: 100%;
        gap: 10px;
        color: var(--gray-600);
        .role {
            width: 20%;
            min-width: 20%;
           
        }
        .access{
            width: 50%;
            min-width: 50%;

            
        }
        .staff{
            width: 10%;
            min-width: 10%;
        }
        .actions{
            width: 20%;
            min-width: 20%;
        }
        .roleandAccess{
            display: none;
        }
        @media only screen and (max-width: 600px) {
            .role,.access,.staff,.actions{
                display: none;
            }
            .roleandAccess{
                display: block;
            }
            
        }
    }
     .row {
        display: flex;
        border-bottom: 1px solid var(--gray-200);
        padding: 30px;
        text-align: left;
        gap: 10px;
        &:last-child{
            border-bottom: none;
        }
        .role {
            width: 20%;
            min-width: 20%;
            font-weight: 600;
            font-size: 18px;
            color: var(--gray-900);
        }
        .access{
            width: 50%;
            min-width: 50%;
            font-weight: 400;
            font-size: 18px;
            color: var(--gray-600);
        }
        .staff{
            width: 10%;
            min-height: 10%;
            span{
                display: none;
            }

        }
        .actions{
            width: 20%;
            min-width: 20%;
            text-align: end;
        }
        .mobileRow{
            display: none;
        }
        @media only screen and (max-width: 600px) {
            padding: 20px;
            .role,.staff,.actions,.access{
                display: none;
            }
             .mobileRow{
                width: 80%;
                display: block;
                .nameAndStaff{
                    display: flex;
                    width: 100%;
                }
                .role{
                    width: fit-content;
                    margin-right: 10px;
                    font-size: 16px;
                    display: block;

                }
                .access{
                    font-size: 14px;
                    display: block;
                    width: 100%;

                }
                .staff{
                    display: block;
                    background-color: var(--gray-100);
                    width: fit-content;
                    border-radius: 16px;
                    padding: 2px 8px;
                    height: fit-content;
                    font-size: 12px;
                    font-weight: 500;
                    span{
                        display: inline-block;
                    }
                }
            }
           

        }
    }
    .header {
        background-color: #f3f3f3;
        border-top-right-radius:12px ;
        border-top-left-radius:12px ;
    }
    .button {
        border: none;
        color: var(--primary-purple-700);
        width: 100%;
        cursor: pointer;
        font-weight: 600;
        text-align: right;
        &:hover{
            text-decoration: underline;
        }
       
    }
}

